@your-org:registry=[https://npm.pkg.github.com](https://npm.pkg.github.com)
//[npm.pkg.github.com/:_authToken=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](https://npm.pkg.github.com/:_authToken=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)


